.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
work_new/
1_etd_results/
2_etd_results/
test_results/
stub_results/
mash_distances.nf
prokka_annotate.nf
parse_gbk_standalone.nf
pars_gbk.config
