/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: PHISPY {
        ext.prefix = { "${meta.id}_phispy" }
        ext.args   = "--min_contig_size 5000"
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/phispy" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                if (params.keep_all) return filename
                if (filename.endsWith('.tsv') && !filename.contains('prophage_information')) return filename
                return null
            }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: INSERT_DB {
    maxForks = 1 
    }
   
    withName: QUERY_RESISTOME {
    maxForks = 1
    }

    withName: PROKKA {
        publishDir = [
            path: { "${params.outdir}/${genomeID}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MASH_PASTE_BATCH' {
    publishDir = [
        enabled: false
        ]
    }

    withName: 'TN3_FINDER' {
    errorStrategy = 'ignore'
    }

    withName: 'TNCOMP_FINDER' {
    errorStrategy = 'ignore'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: AMRFINDERPLUS_RUN {
        publishDir = [
            path: { "${params.outdir}/amrfinderplus" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                if (params.keep_all) return filename
                if (filename.endsWith('-mutations.tsv')) return null
                return filename
            }
        ]
    }

    withName: MOBSUITE_RECON {
        publishDir = [
            path: { "${params.outdir}/mobsuite" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                if (params.keep_all) return filename
                if (filename.contains('contig_report.txt')) return filename
                return null
            }
        ]
    }

    withName: INTEGRONFINDER {
        publishDir = [
            path: { "${params.outdir}/integronfinder" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                if (params.keep_all) return filename
                if (filename.endsWith('.integrons')) return filename
                return null
            }
        ]
    }

    withName: MASH_SKETCH {
        publishDir = [
            path: { "${params.outdir}/mash/sketches" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                if (params.keep_all) return filename
                return null
            }
        ]
    }


}
