   params {
      config_profile_name = 'Test stub profile'
      config_profile_description = 'Ultra-fast test using stub processes'

      mode = 'all'
      input_make = 'assets/test_data/make_db/input.csv'
      input_query = 'assets/test_data/query_db/input.csv'
      outdir = 'stub_results'

      // Minimal resources for stub run
      max_cpus = 1
      max_memory = '500.MB'
      //max_time = '5.min'

      // Fast parameters
      number = 2
      min_pident = 30
      min_alignment_length = 20
  }

